<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
</head>
<body>
    <h1>人员注册</h1>
    <form action="regist/" method="post">
        <p>姓名：<input type="text" name="name"></p>
        <hr>
        <p>性别：<input type="radio" name="sex" value="men"> <input type="radio" name="sex" value="'women"> </p>
        <hr>
        <p>年龄：<input type="text" name="age"></p>
        <hr>
        <p>爱好：<input type="checkbox" name="hobby" value="quan">权
            <input type="checkbox" name="hobby" value="qian">钱
            <input type="checkbox" name="hobby" value="nv">女
        </p>
        <input type="reset" value="重置">
        <input type="submit" value="注册">
    </form>
</body>
</html>