<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学生信息表</title>
</head>
<body>
    <h1>学生信息表</h1>
    <ul>
        {% for student in students %}
            {% if forloop.counter|divisibleby:2 %}
                <li style="color: blue">
                    {{ forloop.counter }}--{{ student.sname }}--{{ student.sage }}--{{ student.scontend }}
                </li>
            {% else %}
                <li style="color: green">
                    {{ forloop.counter }}--{{ student.sname }}--{{ student.sage }}--{{ student.scontend }}
                </li>
            {% endif %}
        {% endfor %}


    </ul>
</body>
</html>